* {
  scroll-behavior: smooth !important;
}

/* 
.border_gradient {
  border-image: linear-gradient(to left, rgba(251, 240, 240, 0.18) 23.99%, rgba(255, 255, 255, 0.04) 43.22%, rgba(251, 240, 240, 0.18) 8.62%, rgba(255, 255, 255, 0.04) 38.8%);
  border-image-slice: 1;
} */

.navLinks:hover {
  -webkit-text-stroke: 0.7px;
}